numpy<2
torch
torchvision
matplotlib
seaborn
tqdm
opencv-python
imageio
scikit-learn
scipy
Pillow
pandas
umap-learn
python-dotenv
gymnasium
minigrid
datasets
autoclip
huggingface_hub
safetensors
mediapy
gdown
ipython
jupyter